# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Config files
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
# Firebase config
config.js
/Firebase/config.js
/Firebase/config.json
/Firebase/firebase.json
/Firebase/firebase.js
/Firebase/firebase.config.js
/Firebase/firebase.config.json
/Firebase/firebase.config.ts
/Firebase/firebase.config.tsx
/Firebase/firebase.config.jsx
/firebase/config.js



